body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.con_rig_txt {
  position: fixed;
  right: 4%;
  top: 50%;
  z-index: 10;
}
.con_rig_txt p {
  color: #fff;
  font-size: 11px;
  margin-bottom: 9px;
  font-weight: 300;
  letter-spacing: 2px;
}

.con_top {
  position: fixed;
  right: 0;
  top: 50%;
  width: 60px;
  height: 40px;
  z-index: 10;
}
.con_top .span {
  width: 60px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  opacity: 0.7;
  transform: scaleX(0.4);
  transition: all 0.25s ease-in-out;
  transform-origin: 100% 50%;
}
.con_top .span.up {
  transform: scaleX(1);
}
.con_top .span:nth-child(2) {
  top: 25px;
}
.con_top .span:nth-child(3) {
  top: 45px;
}
.con_top .span:nth-child(4) {
  top: 65px;
}

#brand01 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#brand01 .spanall {
  display: block;
}
#brand01 .spanall .span01,
#brand01 .spanall .span02,
#brand01 .spanall .span03,
#brand01 .spanall .span04,
#brand01 .spanall .span05,
#brand01 .spanall .span06,
#brand01 .spanall .span07 {
  z-index: 1;
  position: absolute;
  background-color: rgba(166, 129, 100, 0.8);
}
#brand01 .spanall .span01 {
  width: 96vw;
  height: 1px;
  top: 3.5%;
  left: 2%;
}
#brand01 .spanall .span02 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 2%;
}
#brand01 .spanall .span03 {
  width: 96vw;
  height: 1px;
  bottom: 3.4%;
  left: 2%;
}
#brand01 .spanall .span04 {
  width: 1px;
  height: 43vh;
  top: 3.5%;
  right: 2%;
}
#brand01 .spanall .span05 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 15%;
}
#brand01 .spanall .span06 {
  width: 13vw;
  height: 0.1vh;
  top: 29%;
  left: 2%;
}
#brand01 .spanall .span07 {
  width: 1px;
  height: 36vh;
  bottom: 3.5%;
  right: 2%;
}
#brand01 .contents {
  width: 100%;
  height: 100%;
  background-image: url(../images/contents/bg_brand1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#brand01 .contents:before {
  content: "";
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/layout/hero_logo.png);
  position: absolute;
  top: 50px;
  right: 60px;
  width: 130px;
  height: 50px;
  opacity: 0.8;
  position: fixed;
}
#brand01 .contents:after {
  position: absolute;
  content: "";
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/layout/hero_logo.png);
  bottom: 9%;
  left: 6%;
  width: 100px;
  height: 32px;
  opacity: 0.8;
}
#brand01 .con_txt {
  color: #fff;
  top: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
#brand01 .con_txt span {
  padding: 100px;
  font-size: 24px;
}
#brand01 .con_txt img {
  margin-bottom: 20px;
}
#brand01 .con_txt h3 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 178px;
}
#brand01 .con_txt p {
  text-align: center;
  line-height: 2;
  font-size: 18px;
}

#brand02 {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: relative;
}
#brand02 .spanall02 {
  display: block;
}
#brand02 .spanall02 .span01,
#brand02 .spanall02 .span02,
#brand02 .spanall02 .span03,
#brand02 .spanall02 .span04,
#brand02 .spanall02 .span05,
#brand02 .spanall02 .span06,
#brand02 .spanall02 .span07,
#brand02 .spanall02 .span08,
#brand02 .spanall02 .span09 {
  z-index: 2;
  position: absolute;
  background-color: rgba(166, 129, 100, 0.8);
}
#brand02 .spanall02 .span01 {
  width: 96vw;
  height: 1px;
  top: 3.5%;
  left: 2%;
}
#brand02 .spanall02 .span02 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 2%;
}
#brand02 .spanall02 .span03 {
  width: 96vw;
  height: 1px;
  bottom: 3.4%;
  left: 2%;
}
#brand02 .spanall02 .span04 {
  width: 1px;
  height: 43vh;
  top: 3.5%;
  right: 2%;
}
#brand02 .spanall02 .span05 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 50%;
}
#brand02 .spanall02 .span06 {
  width: 48vw;
  height: 0.1vh;
  top: 50%;
  left: 2%;
}
#brand02 .spanall02 .span07 {
  width: 1px;
  height: 36vh;
  bottom: 3.5%;
  right: 2%;
}
#brand02 .spanall02 .span08 {
  width: 1px;
  height: 41vh;
  bottom: 3.5%;
  left: 44%;
}
#brand02 .spanall02 .span09 {
  width: 98vh;
  height: 1px;
  bottom: 62%;
  right: 2%;
}
#brand02 .contents {
  width: 100%;
  height: 100%;
  background-image: url(../images/contents/bg_brand2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#brand02 .brand02_con {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
#brand02 .brand02_con li {
  width: 47%;
}
#brand02 .brand02_con li:nth-child(1) img {
  padding: 15% 40%;
  width: 200px;
}
#brand02 .brand02_con li:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 44%;
}
#brand02 .brand02_con li:nth-child(2) .con_right {
  padding-left: 135px;
}
#brand02 .brand02_con li:nth-child(2) .con_right span {
  font-size: 25px;
  margin-bottom: 15px;
}
#brand02 .brand02_con li:nth-child(2) .con_right p {
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}
#brand02 .brand02_con li:nth-child(3) {
  display: flex;
  justify-content: space-around;
}
#brand02 .brand02_con li:nth-child(3) div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#brand02 .brand02_con li:nth-child(3) div h2 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 10px;
  font-weight: 300;
}
#brand02 .brand02_con li:nth-child(3) div h3 {
  color: #a68164;
  line-height: 1.5;
  font-size: 23px;
  margin-top: 28px;
}
#brand02 .brand02_con li:nth-child(3) div h3:after {
  content: "DELIGTHFUL STAY";
  position: absolute;
  left: 47%;
  writing-mode: vertical-rl;
  font-size: 12px;
  letter-spacing: 5px;
  transform: scale(-1);
  margin-right: 15px;
  top: 69%;
  color: #fff;
}
#brand02 .brand02_con li:nth-child(3) img {
  width: 230px;
  height: 150px;
}
#brand02 .brand02_con li:nth-child(4) img {
  padding: 15% 40%;
  width: 200px;
}
#brand02 .brand02_con li span {
  color: #a68164;
  line-height: 1.5;
}

#brand03 {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: relative;
}
#brand03 .spanall03 {
  display: block;
}
#brand03 .spanall03 .span01,
#brand03 .spanall03 .span02,
#brand03 .spanall03 .span03,
#brand03 .spanall03 .span04,
#brand03 .spanall03 .span05,
#brand03 .spanall03 .span06,
#brand03 .spanall03 .span07,
#brand03 .spanall03 .span08,
#brand03 .spanall03 .span09 {
  z-index: 1;
  position: absolute;
  background-color: rgba(166, 129, 100, 0.8);
}
#brand03 .spanall03 .span01 {
  width: 96vw;
  height: 1px;
  top: 3.5%;
  left: 2%;
}
#brand03 .spanall03 .span02 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 2%;
}
#brand03 .spanall03 .span03 {
  width: 96vw;
  height: 1px;
  bottom: 3.4%;
  left: 2%;
}
#brand03 .spanall03 .span04 {
  width: 1px;
  height: 43vh;
  top: 3.5%;
  right: 2%;
}
#brand03 .spanall03 .span05 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 15%;
}
#brand03 .spanall03 .span06 {
  width: 13vw;
  height: 0.1vh;
  top: 29%;
  left: 2%;
}
#brand03 .spanall03 .span07 {
  width: 1px;
  height: 36vh;
  bottom: 3.5%;
  right: 2%;
}
#brand03 .spanall03 .span08 {
  width: 62vh;
  height: 1px;
  bottom: 27vw;
  right: 2%;
}
#brand03 .spanall03 .span09 {
  width: 1px;
  height: 93vh;
  bottom: 3.5%;
  right: 32.2%;
}
#brand03 .contents {
  width: 100%;
  height: 100%;
  background-image: url(../images/contents/bg_brand3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#brand03 .brand03_con {
  position: absolute;
  justify-content: space-around;
  width: 100%;
  top: 0;
  display: flex;
  margin-left: 6vw;
}
#brand03 .brand03_con .brand03_left {
  color: #fff;
}
#brand03 .brand03_con .brand03_left h1 {
  font-size: 45px;
  padding: 170px 0;
  letter-spacing: 17px;
}
#brand03 .brand03_con .brand03_left p {
  font-size: 23px;
  margin-bottom: 15px;
  line-height: 1.8;
}
#brand03 .brand03_con .brand03_left p.p01 {
  margin-bottom: 45px;
}
#brand03 .brand03_con .network {
  color: #fff;
  position: absolute;
  right: 14%;
  top: 38%;
  letter-spacing: 12px;
}
#brand03 .brand03_con .brand03_right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2%;
}
#brand03 .brand03_con .brand03_right h4 {
  color: #a68164;
  font-size: 25px;
  margin-bottom: 55px;
  letter-spacing: 15px;
  margin-right: 174px;
}
#brand03 .brand03_con .brand03_right ul li {
  width: 400px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-bottom: 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 11px;
}
#brand03 .brand03_con .brand03_right ul li img {
  width: 73px;
  height: 35px;
}

#brand04 {
  z-index: 4;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#brand04 .spanall04 {
  display: block;
}
#brand04 .spanall04 .span01,
#brand04 .spanall04 .span02,
#brand04 .spanall04 .span03,
#brand04 .spanall04 .span04,
#brand04 .spanall04 .span05,
#brand04 .spanall04 .span06,
#brand04 .spanall04 .span07,
#brand04 .spanall04 .span08,
#brand04 .spanall04 .span09,
#brand04 .spanall04 .span10 {
  z-index: 1;
  position: absolute;
  background-color: rgba(166, 129, 100, 0.8);
}
#brand04 .spanall04 .span01 {
  width: 96vw;
  height: 1px;
  top: 3.5%;
  left: 2%;
}
#brand04 .spanall04 .span02 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 2%;
}
#brand04 .spanall04 .span03 {
  width: 96vw;
  height: 1px;
  bottom: 3.4%;
  left: 2%;
}
#brand04 .spanall04 .span04 {
  width: 1px;
  height: 43vh;
  top: 3.5%;
  right: 2%;
}
#brand04 .spanall04 .span05 {
  width: 1px;
  height: 93vh;
  top: 3.5%;
  left: 15%;
}
#brand04 .spanall04 .span06 {
  width: 13vw;
  height: 0.1vh;
  bottom: 29%;
  left: 2%;
}
#brand04 .spanall04 .span07 {
  width: 1px;
  height: 36vh;
  bottom: 3.5%;
  right: 2%;
}
#brand04 .spanall04 .span08 {
  width: 98.5vh;
  height: 1px;
  bottom: 19vw;
  right: 2%;
}
#brand04 .spanall04 .span09 {
  width: 1px;
  height: 93vh;
  bottom: 3.5%;
  right: 50%;
}
#brand04 .spanall04 .span10 {
  width: 98.5vh;
  height: 1px;
  top: 15vw;
  right: 2%;
}
#brand04 .contents {
  width: 100%;
  height: 100vh;
  background-image: url(../images/contents/bg_brand4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#brand04 .brand04_con {
  width: auto;
}
#brand04 .brand04_con .con_left {
  position: absolute;
  display: flex;
  right: 0;
  top: 10%;
  flex-wrap: wrap;
  width: 88%;
  margin-left: 14%;
}
#brand04 .brand04_con .con_left .left_01 h1 {
  font-size: 35px;
  margin: 100px;
  line-height: 2;
}
#brand04 .brand04_con .con_left .left_01 p {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 1.8;
  margin-left: 100px;
}
#brand04 .brand04_con .con_left .left_02 {
  margin-left: 45px;
}
#brand04 .brand04_con .con_left .left_02 p {
  font-size: 35px;
  color: #a68164;
  margin-bottom: 50px;
}
#brand04 .brand04_con .con_left .left_02 span {
  font-size: 25px;
  line-height: 1.5;
}
#brand04 .brand04_con .con_left .left_03 {
  margin-top: 80px;
}
#brand04 .brand04_con .con_left div {
  color: #fff;
  flex-basis: 48%;
}
#brand04 .brand04_con .con_left div:nth-child(2n) {
  margin-top: 35%;
}
#brand04 .share {
  width: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#brand04 .share img {
  width: 220px;
  height: 237px;
}
#brand04 .share p {
  font-size: 28px;
  letter-spacing: 20px;
  margin: 80px 0;
}
#brand04 .share h4 {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

#brand05 {
  background-color: #222;
  width: 100%;
  height: 300px;
  position: relative;
}
#brand05 .brand05_con {
  display: flex;
  width: 100%;
}
#brand05 .brand05_con p {
  width: 100px;
  height: 80px;
  background-image: url(../images/layout/hero_logo.png);
  background-position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 4% 12%;
}
#brand05 .brand05_con .fot02 {
  display: flex;
  margin-top: 4%;
  margin-left: 7%;
  width: 44%;
  justify-content: space-around;
}
#brand05 .brand05_con .fot02 li {
  margin-right: 60px;
}
#brand05 .brand05_con .fot02 li div {
  display: flex;
  flex-direction: column;
}
#brand05 .brand05_con .fot02 li div a {
  color: #fff;
  font-size: 15px;
  margin-bottom: 18px;
}
#brand05 .brand05_con .logo_all {
  display: flex;
  justify-content: end;
  margin-left: 217px;
  margin-top: 4%;
}
#brand05 .brand05_con .logo_all img {
  width: 20px;
  height: 20px;
  margin-right: 33px;
}
#brand05 .brand05_select {
  display: flex;
  position: absolute;
  right: 100px;
  bottom: 20px;
}
#brand05 .brand05_select a {
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  margin-bottom: 15px;
}
#brand05 .brand05_select select {
  border: 1px solid #fff;
  height: 40px;
  background: none;
  color: #fff;
  margin-bottom: 20px;
  width: 178px;
}
#brand05 .brand05_select select option {
  color: #000;
}
#brand05 .copy {
  right: 100px;
  bottom: 10px;
  position: absolute;
  color: #666;
  font-size: 15px;
}

@media all and (max-width: 1800px) {
  #brand01 .span01,
#brand01 .span02,
#brand01 .span03,
#brand01 .span04,
#brand01 .span05,
#brand01 .span06,
#brand01 .span07 {
    display: none;
  }
}
@media all and (max-width: 1500px) {
  #brand02 .brand02_con li:nth-child(1) img, #brand02 .brand02_con li:nth-child(4) img {
    width: 168px;
  }
  #brand02 .brand02_con li:nth-child(2) .con_right {
    padding: 0;
  }
  #brand02 .brand02_con li:nth-child(2) .con_right span {
    font-size: 20px;
  }
  #brand02 .brand02_con li:nth-child(3) div {
    margin-top: 75px;
    justify-content: normal;
  }
  #brand02 .brand02_con li:nth-child(3) div h2 {
    font-size: 30px;
  }
  #brand02 .brand02_con li:nth-child(3) div h3 {
    font-size: 19px;
  }
  #brand02 .brand02_con li:nth-child(3) div h3:after {
    top: 52%;
  }
  #brand02 .brand02_con li:nth-child(3) img {
    width: 193px;
    height: 124px;
  }
  #brand03 .brand03_con {
    justify-content: center;
  }
  #brand03 .brand03_con .brand03_left p {
    font-size: 17px;
  }
  #brand03 .brand03_con .brand03_left h1 {
    padding: 100px 0 50px 0;
    font-size: 38px;
  }
  #brand03 .brand03_con .brand03_right {
    margin-left: 50px;
  }
  #brand03 .brand03_con .brand03_right ul li {
    font-size: 15px;
    width: 320px;
  }
  #brand03 .brand03_con .brand03_right ul li img {
    width: 60px;
    height: 25px;
  }
  #brand04 .brand04_con .con_left {
    height: 550px;
  }
  #brand04 .brand04_con .con_left div {
    flex-basis: 45%;
  }
  #brand04 .brand04_con .con_left .left_01 h1 {
    font-size: 30px;
    margin: 84px 100px 40px 100px;
  }
  #brand04 .brand04_con .con_left .left_01 p {
    font-size: 17px;
    margin-bottom: 33px;
  }
  #brand04 .brand04_con .con_left .left_02 p {
    font-size: 30px;
    margin-bottom: 35px;
  }
  #brand04 .brand04_con .con_left .left_02 span {
    font-size: 20px;
  }
  #brand04 .brand04_con .share img {
    width: 168px;
    height: 201px;
  }
  #brand04 .brand04_con .share p {
    font-size: 23px;
    letter-spacing: 17px;
    margin: 80px 0;
  }
  #brand04 .brand04_con .share h4 {
    font-size: 14px;
  }
  #brand05 {
    height: 200px;
  }
  #brand05 .brand05_con .fot02 li div a {
    font-size: 11px;
  }
  #brand05 .brand05_con .logo_all img {
    width: 15px;
    height: 15px;
  }
  #brand05 .brand05_select {
    right: 48px;
  }
  #brand05 .brand05_select select {
    width: 160px;
    font-size: 12px;
  }
  #brand05 .copy {
    right: 48px;
    font-size: 12px;
  }
}
@media all and (max-width: 1300px) {
  .con_rig_txt,
.con_top {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  #brand02 .brand02_con li:nth-child(1) img, #brand02 .brand02_con li:nth-child(4) img {
    width: 150px;
  }
  #brand02 .brand02_con li:nth-child(2) .con_right {
    padding-left: 50px;
    padding-top: 55px;
  }
  #brand02 .brand02_con li:nth-child(2) .con_right span {
    font-size: 17px;
  }
  #brand02 .brand02_con li:nth-child(3) div {
    margin-top: 81px;
    margin-left: 39px;
  }
  #brand02 .brand02_con li:nth-child(3) div h2 {
    font-size: 27px;
  }
  #brand02 .brand02_con li:nth-child(3) div h3 {
    font-size: 16px;
  }
  #brand02 .brand02_con li:nth-child(3) div h3:after {
    top: 52%;
    left: 51%;
  }
  #brand02 .brand02_con li:nth-child(3) img {
    width: 192px;
    height: 127px;
  }
  #brand03 .brand03_con {
    justify-content: center;
  }
  #brand03 .brand03_con .brand03_left p {
    font-size: 14px;
  }
  #brand03 .brand03_con .brand03_left h1 {
    padding: 80px 0;
    font-size: 38px;
  }
  #brand03 .brand03_con .brand03_right {
    margin: 0;
  }
  #brand03 .brand03_con .brand03_right h4 {
    font-size: 18px;
  }
  #brand03 .brand03_con .brand03_right ul li {
    font-size: 14px;
    width: 300px;
  }
  #brand03 .brand03_con .brand03_right ul li img {
    width: 50px;
    height: 20px;
  }
  #brand04 .brand04_con .con_left {
    right: auto;
    margin-left: 0;
    width: 100%;
  }
  #brand04 .brand04_con .con_left div {
    flex-basis: 47%;
  }
  #brand04 .brand04_con .con_left .left_01 h1 {
    font-size: 25px;
    margin: 50px 100px;
  }
  #brand04 .brand04_con .con_left .left_01 p {
    font-size: 17px;
    margin-bottom: 25px;
  }
  #brand04 .brand04_con .con_left .left_02 p {
    font-size: 28px;
    margin-bottom: 28px;
  }
  #brand04 .brand04_con .con_left .left_02 span {
    font-size: 20px;
  }
  #brand04 .brand04_con .share img {
    width: 165px;
    height: 180px;
  }
  #brand04 .brand04_con .share p {
    font-size: 23px;
    letter-spacing: 17px;
    margin: 45px 0;
  }
  #brand04 .brand04_con .share h4 {
    font-size: 14px;
  }
  #brand05 {
    height: 200px;
  }
  #brand05 .brand05_con .fot02 {
    margin-left: 0;
  }
  #brand05 .brand05_con .fot02 li div a {
    font-size: 11px;
  }
  #brand05 .brand05_con .logo_all img {
    width: 15px;
    height: 15px;
    margin-left: auto;
  }
  #brand05 .brand05_select {
    right: 48px;
  }
  #brand05 .brand05_select select {
    width: 150px;
    font-size: 10px;
  }
  #brand05 .copy {
    right: 48px;
    font-size: 11px;
  }
}
@media all and (max-width: 1050px) {
  #brand05 .brand05_con p {
    margin: 4% auto;
  }
  #brand05 .brand05_con .logo_all {
    margin-left: auto;
  }
}
@media all and (max-width: 955px) {
  #brand04 .brand04_con .con_left {
    height: 500px;
  }
  #brand04 .brand04_con .con_left .left_01 h1 {
    font-size: 20px;
    margin: 70px;
  }
  #brand04 .brand04_con .con_left .left_01 p {
    margin-left: 70px;
    font-size: 15px;
  }
  #brand04 .brand04_con .con_left .left_02 p {
    font-size: 25px;
  }
  #brand04 .brand04_con .con_left .left_02 span {
    font-size: 15px;
  }
  #brand04 .brand04_con .share img {
    width: 130px;
    height: 162px;
  }
  #brand04 .brand04_con .share p {
    font-size: 19px;
    line-height: 1.5;
    text-align: center;
  }
}
@media all and (max-width: 900px) {
  #brand02 .brand02_con li:nth-child(2) .con_right span {
    font-size: 15px;
  }
  #brand02 .brand02_con li:nth-child(3) div {
    margin-top: 124px;
    margin-left: 88px;
  }
  #brand02 .brand02_con li:nth-child(3) div img {
    width: 160px;
    height: 107px;
  }
  #brand02 .brand02_con li:nth-child(3) div h2 {
    font-size: 20px;
  }
  #brand02 .brand02_con li:nth-child(3) div h3 {
    font-size: 13px;
  }
  #brand02 .brand02_con li:nth-child(3) div h3:after {
    font-size: 10px;
  }
  #brand03 .brand03_con .brand03_left h1 {
    padding: 65px 0;
    font-size: 30px;
    line-height: 1.5;
  }
  #brand03 .brand03_con .brand03_left p {
    font-size: 13px;
  }
}
@media all and (max-width: 745px) {
  #brand01 .contents:before,
#brand02 .contents:before,
#brand03 .contents:before,
#brand04 .contents:before,
#brand05 .contents:before {
    width: 100px;
  }
  #brand01 .contents:after,
#brand02 .contents:after,
#brand03 .contents:after,
#brand04 .contents:after,
#brand05 .contents:after {
    width: 80px;
  }
  #brand02 .brand02_con li:nth-child(2) .con_right {
    padding-left: auto;
  }
  #brand02 .brand02_con li:nth-child(3) img {
    width: 144px;
    height: 100px;
  }
  #brand02 .brand02_con li:nth-child(3) div {
    margin-left: 55px;
  }
  #brand02 .brand02_con li:nth-child(4) img {
    padding: 0 30%;
  }
  #brand03 .brand03_con .brand03_left {
    margin-left: 30px;
  }
  #brand03 .brand03_con .brand03_left h1 {
    font-size: 22px;
    padding: 50px 0;
  }
  #brand04 .brand04_con .con_left div {
    flex-basis: 45%;
  }
  #brand04 .brand04_con .con_left div:nth-child(2n) {
    margin-top: 50%;
  }
  #brand04 .brand04_con .con_left .left_01 h1 {
    margin: 50px;
  }
  #brand04 .brand04_con .con_left .left_01 p {
    margin-left: 50px;
    font-size: 14px;
  }
  #brand05 .brand05_con p {
    margin: 4% 25px;
  }
  #brand05 .brand05_con .fot02 {
    width: 60%;
  }
  #brand05 .brand05_con .logo_all {
    margin-left: 0;
  }
}
@media all and (max-width: 650px) {
  #brand01 .con_txt h3 {
    margin-bottom: 75px;
    font-size: 25px;
  }
  #brand01 .con_txt p {
    font-size: 15px;
  }
  #brand01 .con_txt img {
    width: 200px;
  }
  #brand02 .brand02_con li:nth-child(1) img, #brand02 .brand02_con li:nth-child(4) img {
    width: 120px;
    padding: 32% 33%;
  }
  #brand02 .brand02_con li:nth-child(2) .con_right {
    padding-left: 0;
  }
  #brand02 .brand02_con li:nth-child(2) .con_right span {
    font-size: 13px;
  }
  #brand02 .brand02_con li:nth-child(3) div {
    margin-left: 38px;
  }
  #brand02 .brand02_con li:nth-child(3) img {
    width: 124px;
    height: 87px;
  }
  #brand03 .brand03_con {
    top: 15%;
  }
  #brand03 .brand03_con .brand03_left h1 {
    font-size: 17px;
  }
  #brand03 .brand03_con .brand03_left p {
    font-size: 12px;
  }
  #brand03 .brand03_con .brand03_rght h4 {
    margin-right: auto;
  }
  #brand03 .brand03_con .brand03_rght ul li {
    font-size: 13px;
    width: 215px;
  }
  #brand04 .brand04_con .con_left div {
    flex-basis: 50%;
  }
  #brand04 .brand04_con .con_left .left_01 h1 {
    margin: 50px 0 20px 50px;
    font-size: 17px;
  }
  #brand04 .brand04_con .con_left .left_01 p {
    font-size: 12px;
  }
  #brand04 .brand04_con .con_left .left_02 {
    margin-left: auto;
  }
  #brand04 .brand04_con .con_left .left_02 p {
    font-size: 23px;
  }
  #brand04 .brand04_con .con_left .left_02 span {
    font-size: 13px;
  }
  #brand04 .brand04_con .share img {
    width: 100px;
    height: 137px;
  }
  #brand04 .brand04_con .share p {
    font-size: 17px;
    margin: 30px 0;
  }
  #brand04 .brand04_con .share h4 {
    font-size: 12px;
  }
}