@charset "UTF-8";
body {
  font-family: "Black Han Sans", "IBM Plex Sans KR", sans-serif;
  font-size: 16px;
  color: #325fb4;
}

a {
  color: inherit;
  text-decoration: none;
}

.contents {
  width: 1400px;
  margin: 0 auto;
}

#main {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#main .title {
  height: 100%;
  font-size: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 15px;
  position: relative;
}
#main .title .leemiji {
  -webkit-text-stroke: 4px #325fb4;
  color: transparent;
  width: 850px;
  height: 180px;
  overflow: hidden;
}
#main .title .leemiji.txtGo h1 {
  transform: translateY(-50%);
}
#main .title .leemiji h1 {
  transition: all 0.4s ease-in-out;
  text-align: center;
}
#main .title .leemiji h1 strong {
  color: #ffffaf;
}
#main .title .nation {
  display: flex;
  justify-content: center;
  height: 245px;
}
#main .title .nation.liMargin li {
  transition: all 0.4s ease-in-out;
}
#main .title .nation.liMargin li:nth-child(1) {
  margin-top: 4%;
}
#main .title .nation.liMargin li:nth-child(2) {
  margin-top: 3%;
}
#main .title .nation.liMargin li:nth-child(3) {
  margin-top: 2%;
}
#main .title .nation.liMargin li:nth-child(4) {
  margin-top: 1%;
}
#main .title .nation li {
  transition: all 0.4s ease-in-out;
  position: absolute;
}
#main .title .nation li:nth-child(1) {
  -webkit-text-stroke: 3px rgba(50, 95, 180, 0.1);
  color: transparent;
}
#main .title .nation li:nth-child(2) {
  -webkit-text-stroke: 3px rgba(50, 95, 180, 0.3);
  color: transparent;
}
#main .title .nation li:nth-child(3) {
  -webkit-text-stroke: 3px rgba(50, 95, 180, 0.5);
  color: transparent;
}
#main .title .nation li:nth-child(4) {
  -webkit-text-stroke: 3px rgba(50, 95, 180, 0.8);
  color: transparent;
}
#main .title .nation li:nth-child(5) {
  color: #325fb4;
  margin-top: 0%;
}
#main .gnb {
  z-index: 100;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  border: 1px solid;
  padding: 55px 10px;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
}
#main .gnb ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
#main .gnb ul li {
  font-family: "IBM Plex Sans KR" !important;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 27%;
  font-size: 14px;
}
#main .scrollDown {
  position: absolute;
  width: 30px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid #325fb4;
  bottom: 71px;
  left: 50%;
}
#main .scrollDown p {
  position: absolute;
  bottom: -38px;
  text-align: center;
  font-size: 10px;
  left: -15px;
  line-height: 1.3;
  letter-spacing: 4px;
  font-family: "IBM Plex Sans KR" !important;
}
#main .scrollDown:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  border-radius: 100%;
  background-color: #325fb4;
  left: 10px;
  top: 10px;
  animation: scroll 2s infinite;
}

#section01 {
  height: 100vh;
  position: relative;
}
#section01 .intro {
  padding-top: 3%;
  margin-top: 10%;
}
#section01 .intro #target {
  font-size: 84px;
  letter-spacing: 26px;
  line-height: 1.3;
  -webkit-text-stroke: 3px #325fb4;
  color: transparent;
}
#section01 .intro .blink {
  animation: blink 1s infinite;
  font-size: 80px;
  font-family: "IBM Plex Sans KR" !important;
  color: #dedede;
  font-weight: 100;
}
#section01 .introText02 {
  font-size: 87px;
  transition: all 0.5s ease-in-out;
  letter-spacing: 2px;
  line-height: 1.3;
}
#section01 .introText02 strong {
  transition: all 0.5s ease-in-out;
}
#section01 .introText02 strong:not(.name) {
  opacity: 0.2;
}
#section01 .introText02 strong:not(.name).targetOpacity {
  opacity: 1;
}
#section01 .introText02 .name {
  transition: all 0.5s ease-in-out;
  -webkit-text-stroke: 2px #325fb4;
  color: transparent;
}
#section01 .introText02 .name.yellow {
  -webkit-text-stroke: 2px #325fb4;
  color: #ffffaf;
}
#section01 .titleImg {
  width: 400px;
  height: 550px;
  margin-left: 58%;
  position: relative;
}
#section01 .titleImg .image {
  position: absolute;
  right: 9%;
  width: 385px;
  height: auto;
  bottom: 0%;
  z-index: -1;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  transition: all 0.3s ease-in-out;
}
#section01 .titleImg .image.moveUp {
  right: 16%;
  bottom: 6%;
}
#section01 .titleImg .imageLine {
  border-top-left-radius: 165px;
  border-top-right-radius: 165px;
  width: 356px;
  position: absolute;
  height: 546px;
  border: 3px solid #325fb4;
  z-index: -2;
}
#section01 .titleDesc {
  position: absolute;
  line-height: 2;
  top: 46%;
}
#section01 .titleDesc p {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  font-family: "Noto Sans" !important;
}
#section01 .titleDesc p:nth-child(1) {
  position: relative;
}
#section01 .titleDesc p:nth-child(1):before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background-color: #bfcee9;
  opacity: 0.4;
  top: -124%;
  left: 47%;
  z-index: -1;
}
#section01 .titleDesc p:nth-child(2) {
  position: relative;
}
#section01 .titleDesc p:nth-child(2):before {
  z-index: -2;
  content: "";
  position: absolute;
  width: 277px;
  height: 279px;
  border-radius: 100%;
  border: 2px solid red;
  opacity: 0.4;
  top: -230%;
  left: 47%;
  transition: all 0.3s ease-in-out;
}
#section01 .titleDesc p:nth-child(2).circle:before {
  top: -260%;
  left: 55%;
}
#section01 .titleDesc p strong {
  font-weight: 700;
}

.secTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.secTitle:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #325fb4;
  left: -3%;
}
.secTitle h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
}
.secTitle span {
  font-size: 25px;
  margin-top: 7px;
  font-family: "IBM Plex Sans KR" !important;
  letter-spacing: 4px;
}

#section02 {
  height: 100%;
  position: relative;
  padding: 10% 0 15% 0;
}
#section02 .listTitle {
  letter-spacing: 4px;
  margin-top: 6%;
  text-align: center;
  font-size: 37px;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
}
#section02 .aboutMe {
  margin-top: 5%;
  height: 620px;
  display: flex;
  justify-content: space-around;
}
#section02 .aboutMe .experience {
  width: 35%;
  position: relative;
  word-break: keep-all;
}
#section02 .aboutMe .experience .listTitle {
  color: #0b388b;
}
#section02 .aboutMe .experience .inner {
  display: flex;
  justify-content: space-between;
  margin-top: 16%;
}
#section02 .aboutMe .experience .inner .innerLeft {
  position: relative;
}
#section02 .aboutMe .experience .inner .innerLeft::before {
  content: "";
  position: absolute;
  background-color: #325fb4;
  width: 1px;
  height: 76%;
  right: -65px;
  top: 9px;
}
#section02 .aboutMe .experience .inner .innerLeft .strengthList > li {
  position: relative;
}
#section02 .aboutMe .experience .inner .innerLeft .strengthList > li:after {
  content: "";
  position: absolute;
  background-color: #76bcff;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  right: -70px;
  top: 7px;
}
#section02 .aboutMe .experience .inner .innerLeft .strengthList > li span {
  color: #fff;
  background-color: #185884;
  padding: 6px 18px;
  border-radius: 23px;
}
#section02 .aboutMe .experience .inner .innerRight .strengthList {
  width: 270px;
}
#section02 .aboutMe .experience .inner .strengthList > li {
  font-family: "IBM Plex Sans KR" !important;
  font-size: 17px;
  height: 100px;
}
#section02 .aboutMe .experience .inner .strengthList > li span {
  color: #000;
  word-break: keep-all;
  line-height: 1.5;
}
#section02 .aboutMe .experience .inner .strengthList > li span strong {
  font-size: 18px;
}
#section02 .aboutMe .aboutList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34%;
}
#section02 .aboutMe .aboutList > li {
  position: relative;
  word-break: keep-all;
}
#section02 .aboutMe .aboutList > li .inner {
  display: flex;
  justify-content: center;
  margin-top: 16%;
}
#section02 .aboutMe .aboutList > li .inner .innerRight .strengthList {
  width: 270px;
  margin-left: 25%;
}
#section02 .aboutMe .aboutList > li .inner .strengthList > li {
  font-family: "IBM Plex Sans KR" !important;
  font-size: 17px;
  height: 50px;
}
#section02 .aboutMe .aboutList > li .inner .strengthList > li span {
  color: #000;
  word-break: keep-all;
  line-height: 1.5;
}
#section02 .aboutMe .aboutList > li .inner .strengthList > li span strong {
  font-size: 18px;
}
#section02 .aboutMe .aboutList > li:nth-child(1) .listTitle {
  color: #4688b6;
}
#section02 .aboutMe .aboutList > li:nth-child(2) {
  position: relative;
}
#section02 .aboutMe .aboutList > li:nth-child(2) .listTitle {
  color: #69a5ed;
}
#section02 .aboutMe .aboutList > li:nth-child(2):before {
  position: absolute;
  content: "";
  background-color: #4e7b9b;
  top: -4%;
  left: 0;
  width: 100%;
  height: 1px;
}
#section02 .profileImg {
  width: 90vw;
  margin-top: 8%;
  display: flex;
  justify-content: center;
}
#section02 .profileImg .bubble {
  position: absolute;
  z-index: -1;
}
#section02 .profileImg .bubble p:nth-child(1) {
  width: 345px;
  height: 158px;
  border-radius: 100%;
  background-color: #6ec9b6;
  transform: rotate(-9deg);
  position: absolute;
  top: -138px;
  left: -155px;
  opacity: 0.7;
}
#section02 .profileImg .bubble p:nth-child(2) {
  width: 345px;
  height: 158px;
  border-radius: 100%;
  border: 1px solid red;
  transform: rotate(-20deg);
  position: absolute;
  top: -135px;
  opacity: 0.7;
  left: -160px;
}
#section02 .profileImg .bubble p:nth-child(3), #section02 .profileImg .bubble p:nth-child(4) {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../images/layout/star.png");
  background-size: cover;
}
#section02 .profileImg .bubble p:nth-child(3) {
  left: 86px;
  top: -174px;
}
#section02 .profileImg .bubble p:nth-child(4) {
  left: -107px;
  bottom: -54px;
}
#section02 .profileImg .innerLeft {
  height: 700px;
  flex-basis: 36%;
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section02 .profileImg .innerLeft h1 {
  mix-blend-mode: difference;
  font-size: 55px;
  word-break: keep-all;
  line-height: 1.2;
}
#section02 .profileImg .innerLeft h2 {
  font-family: "IBM Plex Sans KR" !important;
  font-size: 43px;
  margin-top: 11%;
  color: #444;
}
#section02 .profileImg .innerRight {
  letter-spacing: 3px;
  font-family: "IBM Plex Sans KR" !important;
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#section02 .profileImg .innerRight:before {
  content: "";
  height: 75%;
  width: 1px;
  background-color: #325fb4;
  position: absolute;
  left: -25%;
}
#section02 .profileImg .innerRight h1 {
  font-size: 35px;
  font-weight: 700;
}
#section02 .profileImg .innerRight h2 {
  font-size: 27px;
  margin-top: 4%;
  line-height: 1.7;
}
#section02 .profileImg .innerRight ul {
  margin-top: 6%;
}
#section02 .profileImg .innerRight ul li {
  color: #888;
  font-size: 20px;
  margin-bottom: 7%;
  font-weight: 500;
  position: relative;
}
#section02 .profileImg .innerRight ul li:before {
  position: absolute;
  content: "✅";
  left: -47px;
  top: 20%;
}
#section02 .profileImg .innerRight ul li strong {
  color: #325fb4;
  font-size: 25px;
  font-weight: 700;
}
#section02 .aboutImg {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 15%;
}
#section02 .aboutImg .fixed {
  width: 1200px;
  height: 700px;
}
#section02 .aboutImg .fixed video {
  height: 100%;
  width: 100%;
}

#section03 {
  height: 100vh;
}
#section03 .sec03_inner {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
#section03 .sec03_inner .sec03_Bg video {
  width: 78vw;
  object-fit: cover;
  height: 615px;
  border-radius: 130px;
}
#section03 .sec03_inner .sec03_BgTxt {
  position: absolute;
  width: 720px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}
#section03 .sec03_inner .sec03_BgTxt span {
  display: flex;
  justify-content: space-between;
  background: transparent;
  width: 600px;
  height: 56px;
  margin-bottom: 3%;
  font-size: 55px;
  transition: all 0.35s ease-in-out;
  -webkit-text-stroke: 0.6px #fff;
}
#section03 .sec03_inner .sec03_BgTxt span p {
  transition: all 0.35s ease-in-out;
}
#section03 .sec03_inner .sec03_BgTxt span:nth-child(1) {
  color: #131b26;
}
#section03 .sec03_inner .sec03_BgTxt span:nth-child(2) {
  color: #143457;
}
#section03 .sec03_inner .sec03_BgTxt span:nth-child(3) {
  color: #284b79;
}
#section03 .sec03_inner .sec03_BgTxt span:nth-child(4) {
  color: #34437e;
}
#section03 .sec03_inner .sec03_BgTxt span:nth-child(5) {
  color: #4c6294;
}
#section03 .sec03_inner .sec03_BgTxt span:nth-child(6) {
  color: #889edb;
}
#section03 .sec03_inner .sec03_BgTxt span:nth-child(7) {
  color: #cddaff;
}

#section04 {
  padding-bottom: 100px;
  background-color: rgba(249, 224, 224, 0.4509803922);
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7% 0 10% 0;
  position: relative;
  height: 100%;
}
#section04 .secTitle {
  padding: 0px 250px 0px 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: calc(100vw - 500px);
  border-radius: 100% 100% 0 0;
  height: 250px;
}
#section04 .secTitle::before {
  height: 75px;
  left: 10%;
}
#section04 .insta {
  background-color: #fff;
  width: 900px;
  height: 100%;
  border: 1px solid #000;
  margin: 0 auto;
  font-family: "Noto Sans";
  margin-bottom: 100px;
  color: #000;
}
#section04 .insta .logo {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
#section04 .insta .logo img:nth-child(1) {
  width: 230px;
}
#section04 .insta .logo img:nth-child(2) {
  width: 160px;
  height: 50px;
}
#section04 .insta .hover {
  display: flex;
  justify-content: center;
}
#section04 .insta .hover p {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 90px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
#section04 .insta .hover p:nth-child(1):hover img {
  animation: heart 1s infinite;
}
#section04 .insta .hover p:nth-child(2) {
  z-index: 0;
}
#section04 .insta .hover p:nth-child(2):hover:after, #section04 .insta .hover p:nth-child(2):hover:before {
  animation: heart 1s infinite;
}
#section04 .insta .hover p:nth-child(2):after, #section04 .insta .hover p:nth-child(2):before {
  transition: all 0.25s ease-in-out;
  opacity: 0;
  position: absolute;
  border-radius: 100%;
}
#section04 .insta .hover p:nth-child(2)::before {
  content: "💛";
  left: 0;
  top: 0;
}
#section04 .insta .hover p:nth-child(2):after {
  content: "💖";
  bottom: 18px;
  right: -3px;
}
#section04 .insta .hover p:nth-child(3):hover img {
  animation: smile 1s infinite;
}
#section04 .insta .hover p:nth-child(4) {
  z-index: 0;
}
#section04 .insta .hover p:nth-child(4):hover:after {
  opacity: 1;
}
#section04 .insta .hover p:nth-child(4):after {
  transition: all 0.25s ease-in-out;
  opacity: 0;
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  border-radius: 100%;
  z-index: -1;
  background: rgb(246, 168, 151);
  background: linear-gradient(0deg, rgb(246, 168, 151) 0%, rgb(250, 179, 163) 14%, rgb(233, 233, 162) 38%, rgb(255, 225, 163) 52%, rgb(176, 233, 181) 71%, rgb(172, 190, 233) 83%, rgb(193, 167, 218) 97%);
}
#section04 .insta .hover p img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 100%;
}
#section04 .insta .hover p span {
  margin-top: 5px;
  font-size: 13px;
}
#section04 .insta .hover p:last-child {
  margin-right: 0;
}
#section04 .insta .name {
  font-weight: 700;
  font-size: 25px;
  display: flex;
  justify-content: start;
  margin: 20px 0;
  align-items: center;
}
#section04 .insta .name img {
  margin: 0 15px 0 40px;
  border: 1px solid #000;
  border-radius: 100%;
  padding: 0 3px 3px 0;
}
#section04 .insta .photo {
  text-align: center;
  width: 100%;
}
#section04 .insta .bottomIcon {
  margin: 25px 20px 20px 40px;
  display: flex;
  justify-content: space-between;
}
#section04 .insta .bottomLike {
  font-weight: 700;
  margin: 10px 0 20px 40px;
  display: flex;
  align-items: center;
}
#section04 .insta .bottomLike img {
  margin-right: 20px;
  height: 40px;
}
#section04 .insta .bottomText {
  margin: 0 0 40px 40px;
}
#section04 .insta .bottomText h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 15px 10px 0px;
}
#section04 .insta .Tab {
  align-items: center;
  padding: 13px 40px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
#section04 .insta .Tab img {
  height: 30px;
}
#section04 .instaBox {
  background-color: #fff;
  width: 900px;
  height: 100%;
  border: 1px solid #000;
  margin: 0 auto;
  font-family: "Noto Sans";
  margin-bottom: 200px;
  color: #000;
}
#section04 .instaBox div {
  margin: 0 40px 20px 40px;
}
#section04 .instaBox .bell {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#section04 .instaBox .bell img {
  height: 30px;
}
#section04 .instaBox .bell h1 {
  font-size: 26px;
}
#section04 .instaBox .follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section04 .instaBox .follow img {
  width: 120px;
}
#section04 .instaBox .follow .contents {
  width: 400px;
  margin-right: 100px;
}
#section04 .instaBox .follow .contents ul {
  display: flex;
  justify-content: space-between;
}
#section04 .instaBox .follow .contents ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section04 .instaBox .follow .contents ul li p {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
#section04 .instaBox .enjoy {
  margin-bottom: 30px;
  line-height: 1.3;
}
#section04 .instaBox .enjoy h1 {
  margin-bottom: 10px;
  font-size: 18px;
}
#section04 .instaBox .enjoy h2 {
  color: #aaa;
  font-size: 15px;
}
#section04 .instaBox .following {
  display: flex;
  align-items: center;
  font-size: 14px;
}
#section04 .instaBox .following img {
  margin-right: 30px;
}
#section04 .instaBox .message {
  display: flex;
  justify-content: space-between;
}
#section04 .instaBox .meInfo {
  height: 130px;
  margin: 0 90px 30px 90px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
#section04 .instaBox .meInfo .meInfoDesc {
  position: absolute;
  top: -250%;
  left: 50%;
  width: 430px;
  height: 200px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);
  padding: 30px;
  letter-spacing: 1.5px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
#section04 .instaBox .meInfo .meInfoDesc.meInfoDescVisible {
  opacity: 1;
}
#section04 .instaBox .meInfo .meInfoDesc h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
#section04 .instaBox .meInfo .meInfoDesc h2 {
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 8px;
}
#section04 .instaBox .meInfo .meInfoDesc h2 strong {
  font-weight: 700;
}
#section04 .instaBox .meInfo .meInfoDesc02 h2,
#section04 .instaBox .meInfo .meInfoDesc03 h2,
#section04 .instaBox .meInfo .meInfoDesc04 h2 {
  font-size: 12px;
}
#section04 .instaBox .meInfo .meInfoDesc02 h2 strong,
#section04 .instaBox .meInfo .meInfoDesc03 h2 strong,
#section04 .instaBox .meInfo .meInfoDesc04 h2 strong {
  font-size: 15px;
  color: beige;
}
#section04 .instaBox .boxBottom {
  border-top: 1px solid #000;
  margin: 0;
  padding: 16px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section04 .instaBox .boxBottom img {
  height: 32px;
}
#section04 .instaBox .projectBox {
  margin: 0;
}
#section04 .instaBox .projectBox .projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#section04 .instaBox .projectBox .projectList li {
  text-transform: uppercase;
  width: 300px;
  position: relative;
  height: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}
#section04 .instaBox .projectBox .projectList li:hover img {
  filter: brightness(0.4);
  transform: scale(1.2);
}
#section04 .instaBox .projectBox .projectList li:hover .pTitle {
  color: #fff;
  height: 100%;
  top: 45%;
  font-weight: 700;
}
#section04 .instaBox .projectBox .projectList li:hover .pTitle:after {
  visibility: visible;
  top: 35px;
}
#section04 .instaBox .projectBox .projectList li a img {
  width: 100%;
  height: 108%;
  transition: all 0.25s ease-in-out;
}
#section04 .instaBox .projectBox .projectList li a .pTitle {
  font-size: 16px;
  letter-spacing: 4px;
  width: 100%;
  color: #000;
  position: absolute;
  top: 15px;
  text-align: center;
  transition: all 0.25s ease-in-out;
}
#section04 .instaBox .projectBox .projectList li a .pTitle:after {
  transition: all 0.15s ease-in-out;
  content: "VIEW";
  position: absolute;
  color: #1c1c1c;
  font-weight: 700;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  visibility: hidden;
  padding: 7px 15px;
  border-radius: 80px;
}
#section04 .projectDesc {
  color: #000;
  font-family: "IBM Plex Sans KR" !important;
}
#section04 .projectDesc .contents {
  border-radius: 20px;
  width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 100px 50px;
}
#section04 .projectDesc .contents .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
}
#section04 .projectDesc .contents .title:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 80%;
  background-color: #c0ebdc;
  left: 7px;
  z-index: -1;
  top: 12px;
  border-radius: 30px;
}
#section04 .projectDesc .contents .descTop {
  margin-bottom: 100px;
}
#section04 .projectDesc .contents .descTop span {
  display: flex;
  justify-content: center;
}
#section04 .projectDesc .contents .descTop span p {
  background-color: #d7e5f3;
  display: flex;
  font-size: 23px;
  font-weight: 500;
  margin-right: 80px;
  border-radius: 100%;
  position: relative;
  width: 230px;
  height: 230px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}
#section04 .projectDesc .contents .descTop span p:last-child {
  margin-right: 0;
}
#section04 .projectDesc .contents .descTop span p:last-child:after {
  content: none;
}
#section04 .projectDesc .contents .descTop span p:after {
  content: "";
  position: absolute;
  width: 95px;
  height: 1px;
  background-color: #9ac8e1;
  left: 100%;
  top: 50%;
}
#section04 .projectDesc .contents .descMiddle {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
}
#section04 .projectDesc .contents .descMiddle h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
}
#section04 .projectDesc .contents .descMiddle h1:after {
  content: "";
  height: 61px;
  background: rgb(163, 169, 255);
  background: linear-gradient(360deg, rgb(163, 169, 255) 0%, rgb(163, 169, 255) 50%, rgb(162, 233, 205) 50%, rgb(162, 233, 205) 100%);
  position: absolute;
  width: 9px;
  left: -25px;
  top: -4px;
}
#section04 .projectDesc .contents .descMiddle h2 {
  margin-bottom: 30px;
}
#section04 .projectDesc .contents .descMiddle img {
  width: 700px;
}
#section04 .projectDesc .contents .descMiddle02,
#section04 .projectDesc .contents .descMiddle04 {
  text-align: end;
}
#section04 .projectDesc .contents .descMiddle02 h1:after,
#section04 .projectDesc .contents .descMiddle04 h1:after {
  left: 101%;
}

.projectInner {
  font-family: "Noto Sans" !important;
  transition: all 1s ease-in-out;
}
.projectInner .innerproject {
  position: relative;
}
.projectInner .innerproject .detail01 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.projectInner .innerproject .detail01 .detailTitle {
  margin: 100px 0 70px 0;
}
.projectInner .innerproject .detail01 .detailTitle h1 {
  color: transparent;
  font-weight: 700;
  font-size: 100px;
  -webkit-text-stroke: 1px #fff;
}
.projectInner .innerproject .detail01 .detailScroll {
  position: absolute;
  bottom: 3%;
  left: 3%;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectInner .innerproject .detail01 .detailScroll p {
  width: 20px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.projectInner .innerproject .detail01 .detailScroll p span {
  transition: all 0.25s ease-in-out;
  display: block;
  border-radius: 50px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  animation: detailScroll 2s infinite;
}
.projectInner .innerproject .detail01 .detail01_contents {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_left {
  flex-basis: 80%;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_left span {
  display: flex;
  color: #fff;
  z-index: 1;
  justify-content: center;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_left span a {
  color: inherit;
  text-decoration: none;
  padding: 20px 35px;
  font-size: 17px;
  margin-right: 20px;
  border: 1px solid #000;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
  animation: white 2.5s infinite;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_left span a:hover {
  animation: none;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_left .screen {
  height: 600px;
  border-radius: 3% 3% 0 0/5% 5% 0 0;
  position: relative;
  width: 700px;
  background-size: contain;
  background-image: url(/images/project/imac.png);
  z-index: 10;
  margin: 0 auto;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_left .screen .viewport {
  position: absolute;
  height: 365px;
  left: 32px;
  top: 35px;
  background: #333;
  transition: background-position 3s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
  width: 640px;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_left .screen:hover .viewport {
  background-position: 0 100%;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right {
  width: 874px;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right h1 {
  color: #2f65a3;
  background: #fff;
  font-size: 23px;
  width: 200px;
  text-align: center;
  border: 1px solid #2f65a3;
  font-weight: 700;
  border-radius: 56px;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right .inner .detail {
  color: #fff;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right .inner .detail li {
  padding: 13px 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 17px;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right .inner .detail li:last-child {
  margin-bottom: 0;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right .inner .detail li p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right .inner .detail li span {
  font-size: 15px;
  line-height: 1.6;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right .inner .detail li span img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.projectInner .innerproject .detail01 .detail01_contents .detail01_right .inner .detail li:last-child {
  border: none;
}
.projectInner .innerproject .frameMain {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.projectInner .innerproject .frameMain img {
  width: 100%;
  margin: 15% 0;
}
.projectInner .innerproject .frame {
  margin: 0 auto;
  width: 60%;
}
.projectInner .innerproject .frame img {
  width: 100%;
  margin-bottom: 15%;
}

.projectInner00 .detail01 {
  background-image: url(../images/project/kriTitle.PNG);
}
.projectInner00 .detail01 .detail {
  color: #000 !important;
}
.projectInner00 .viewport {
  background-image: url(/images/project/krispyfull.png) !important;
}
.projectInner00 .detail02 ul li img {
  height: 600px !important;
}

.projectInner01 .detail01 {
  background-image: url(../images/project/hiTitle.jpg);
}
.projectInner01 .viewport {
  background-image: url(/images/project/hitopfullpage.png) !important;
}

.projectInner02 .detail01 {
  background-image: url(../images/project/wmtTItle.PNG);
}
.projectInner02 .viewport {
  background-image: url(/images/project/wmtfullpage.png) !important;
}

.projectInner03 .detail01 {
  background-image: url(../images/project/naverTItle.PNG);
}
.projectInner03 .viewport {
  background-image: url(/images/project/naverfullpage.png) !important;
}

.projectInner04 .detail01 {
  background-image: url(../images/project/todoTitle.PNG);
}
.projectInner04 .detail01 .detail {
  color: #000;
}
.projectInner04 .viewport {
  background-image: url(/images/project/todofullpage.png) !important;
}

.projectInner05 .detail01 {
  background-image: url(../images/project/vocaTitle.PNG);
}
.projectInner05 .viewport {
  background-image: url(/images/project/vocafullpage.jpg) !important;
}

.projectInner06 .detail01 {
  background-image: url(../images/project/itddaaTItle.PNG);
}
.projectInner06 .viewport {
  background-image: url(/images/project/itddaafullpage.jpg) !important;
}

.projectInner07 .detail01 {
  background-image: url(../images/project/lahanTitle.PNG);
}
.projectInner07 .viewport {
  background-image: url(/images/project/lahanfullpage.png) !important;
}

.projectInner08 .detail01 {
  background-image: url(../images/project/chemTItle.PNG);
}
.projectInner08 .viewport {
  background-image: url(/images/project/chemful.png) !important;
}
.projectInner08 .innerproject .detail02 ul li:nth-child(1), .projectInner08 .innerproject .detail02 ul li:nth-child(2) {
  margin-top: 90px;
}
.projectInner08 .innerproject .detail02 ul li:nth-child(3) img, .projectInner08 .innerproject .detail02 ul li:nth-child(4) img {
  height: 150px;
}

#footer {
  width: 100vw;
  height: 67vh;
  position: relative;
}
#footer .contact {
  width: 800px;
  height: 900px;
}
#footer .tariffCards {
  font-family: "IBM Plex Sans KR" !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16% 0 0 -11%;
  user-select: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}
#footer .tariffCards:after {
  position: absolute;
  bottom: -27px;
  left: 5%;
  content: "";
  width: 65%;
  height: 10px;
  border-radius: 100%;
  background-image: radial-gradient(rgba(34, 50, 84, 0.04), rgba(34, 50, 84, 0));
}
#footer .tariffCards > div {
  position: relative;
  width: 385px;
  height: 190px;
  border-radius: 12px;
  color: #325fb4;
  transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}
#footer .tariffCards > div > img {
  margin-top: 15px;
  pointer-events: none;
}
#footer .tariffCards > div .text {
  position: absolute;
  font-weight: 500;
  top: 19%;
  left: 22px;
  font-size: 17px;
}
#footer .tariffCards > div .text h1 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 26px;
  color: #ffffaf;
}
#footer .tariffCards > div .text h2 {
  margin-bottom: 12px;
  font-size: 16px;
  color: #ddd;
  letter-spacing: 2px;
}
#footer .tariffCards > div .text img {
  width: 19px;
  margin: 0 12px 6px 0;
}
#footer .tariffCards > div .text h3,
#footer .tariffCards > div .text h4,
#footer .tariffCards > div .text h5 {
  color: #e1e1e1;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}
#footer .tariffCards > div.tariffCards01 {
  margin-top: 100px;
  z-index: 3;
  background-color: #1d4094;
  background-image: linear-gradient(135deg, #96d8ff, #1d4094);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #1d4094;
}
#footer .tariffCards > div.tariffCards02 {
  margin-top: -170px;
  z-index: 2;
  background-color: #3f58e3;
  background-image: linear-gradient(135deg, #071b7e, #3f58e3);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #3f58e3;
}
#footer .tariffCards > div.tariffCards03 {
  margin-top: -170px;
  z-index: 1;
  background-color: #2c6fd1;
  background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #2c6fd1;
}
#footer .tariffCards > div.tariffCards04 {
  margin-top: -170px;
  background-color: #352f64;
  background-image: linear-gradient(135deg, #415197, #352f64);
  box-shadow: 5px 5px 60px rgba(34, 50, 84, 0.1), 1px 1px 0px 1px #352f64;
}
#footer .tariffCards > div:hover {
  transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}
#footer .tariffCards > div:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}
#footer .tariffCards.cardOpen .tariffCards01 {
  margin-top: 0px;
}
#footer .tariffCards.cardOpen .tariffCards02,
#footer .tariffCards.cardOpen .tariffCards03,
#footer .tariffCards.cardOpen .tariffCards04 {
  margin-top: -70px;
}
#footer .tariffCards.hoverNone > div {
  pointer-events: none;
}
#footer .bottom {
  bottom: 0;
  left: 20px;
  position: absolute;
  width: 100%;
}
#footer .bottom p {
  line-height: 1.2;
  font-size: 90px;
  color: transparent;
  position: absolute;
  -webkit-text-stroke: 1px #325fb4;
  transition: all 0.5s ease-in-out;
  letter-spacing: 2px;
}
#footer .bottom p strong {
  letter-spacing: 10px;
}
#footer .bottom p.full {
  -webkit-text-stroke: none;
  opacity: 0;
  color: #ffffaf;
}
#footer .bottom p.full.fullDown {
  opacity: 1;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  25% {
    background-position: 1010px;
  }
  50% {
    background-position: 0px;
  }
  75% {
    background-position: 1010px;
  }
  100% {
    background-position: 0px;
  }
}
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scrolldown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes finger {
  0% {
    transform: rotate(-28deg) translateX(-40px);
  }
  50% {
    transform: rotate(-28deg) translateX(-100px);
  }
  100% {
    transform: rotate(-28deg) translateX(-40px);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes white {
  0% {
    background-color: #325fb4;
    color: #000;
    border-color: #325fb4;
  }
  50% {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
  }
  100% {
    background-color: #325fb4;
    color: #000;
    border-color: #325fb4;
  }
}
@keyframes detailScroll {
  0% {
    opacity: 0;
    top: 6px;
  }
  50% {
    opacity: 1;
    top: 30px;
  }
  100% {
    opacity: 0;
    top: 6px;
  }
}
@keyframes heart {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes smile {
  0% {
    transform: rotate(-18deg);
  }
  50% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}